<div style="position: fixed; left: 0; top: 0; box-sizing: border-box; padding: 5px; background-color: white; z-index: 10; width: 100%">
  <span class="dropdown">
    <button class="btn btn-default btn-sm" type="button" id="dropdownMenu1" data-toggle="dropdown">
      {{confName}}
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
      <li role="presentation" ng-repeat="conf in conferences" ng-class="{ disabled: confName===conf.name}">
        <a role="menuitem" tabindex="-1" ui-sref="conference.day({ name: conf.code })">{{conf.name}}</a
      </li>
    </ul>
  </span>
  <span class="days btn-group">
    <a ng-repeat="day in days" ui-sref="conference.day({ day: day.number })" class="btn btn-default btn-sm" ng-class="{ active: selectedDay==day.number}">{{day.name}}</a>
  </span>
</div>
<div class="planning">
  <div class="time">
    <div class="room_name">&nbsp;</div>
    <div class="events">
      <div class="coffeebreak h1140 d0020"></div>
    </div>
  </div>
  <div class="rooms">
    <div ng-repeat="hour in hours" class="hour" time="{{hour*60}}" label="{{''+hour+':00'}}"></div>
    <div ng-repeat="hour in hours" class="halfhour" time="{{hour*60+30}}" label="{{''+hour+':30'}}"></div>
  </div>
  <div ui-view>
  </div>
</div>